.vs/
bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/

*.cache
*.log
node_modules/

*.log
*.tlog

.vscode/

appsettings.*.json
appsettings.Development.json

*.tmp
*.temp
~$*

wwwroot/
dist/

package-lock.json
yarn.lock