* {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: white !important;
}

.header {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #000000 !important;
}
