* {
    text-align: center;
}

.toolbar-utility{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.pager {
    background-color: black !important;
    bottom: 0px !important;
    width: 100% !important;
}

.black{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white !important;
}

.blue {
    width: 100%;
    height: 100%;
    background-color: #56a7f2;
    color: white !important;
}

.row{
    background-color: white !important;
}