body{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

p {
    text-align: center;
}

.main{
    display: grid;
    grid-template-columns: 75% 25%; 
}

.sidepanel{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.circle {
    display: inline-block;
    border-radius: 10px;
    max-width: 50px;
    max-height: 50px;
}

.green {
    background-color: forestgreen;
}

.red {
    background-color: indianred;
}
