@page "/"

@rendermode InteractiveServer

@using BlazorTaskManager.Components.Layout
@using BlazorTaskManager.Components.Screens

<!-- Header -->
<ControlHeader OnScreenChange="SetScreen" OnDarkModeToggle="ToggleDarkMode" OnActiveTabChange="SetCurrentTab" />

<!-- Screens -->
@switch(CurrentScreen){
    case "Task list":
        <TaskList />
        break;

    case "Kanban":
        <Kanban />
        break;

    default:
        <Dashboard />
        break;
}

<p>Current tab ID: @CurrentTabId</p>

@code {
    private Guid CurrentTabId { get; set; }

    private string CurrentScreen { get; set; }
    private bool IsDarkMode { get; set; }

    private void SetCurrentTab(Guid currentTabId){
        CurrentTabId = currentTabId;
        StateHasChanged();
    }

    private void SetScreen(string newScreen)
    {
        CurrentScreen = newScreen;
        StateHasChanged();
    }

    private void ToggleDarkMode(bool isDarkMode)
    {
        IsDarkMode = isDarkMode;
        StateHasChanged();
    }
}
