@page "/"

@rendermode InteractiveServer

<!-- Header -->
<ControlHeader OnScreenChange="SetScreen" OnDarkModeToggle="ToggleDarkMode" OnActiveTabChange="SetCurrentTab" />

<!-- Screens -->
@switch(CurrentScreen){
    case "Task list":
        <TaskList />
        break;

    case "Kanban":
        <Kanban />
        break;

    default:
        <Dashboard />
        break;
}

<!-- Temporary to check task item is working -->

<InputCheckbox @bind-Value="@isEditing">Edit task</InputCheckbox>
<InputCheckbox @bind-Value="@isViewing">View task</InputCheckbox>

@if(isEditing){
    <EditTask CurrentTabId="@CurrentTabId" />
}
else if(isViewing){
    <ViewTask />
}

<p>Current tab ID: @CurrentTabId</p>

@code {
    // Task debugging
    public bool isEditing = false;
    public bool isViewing = false;
    public TaskItem currentTask = new TaskItem();


    private Guid CurrentTabId { get; set; }

    private string CurrentScreen { get; set; }
    private bool IsDarkMode { get; set; }

    private void SetCurrentTab(Guid currentTabId){
        CurrentTabId = currentTabId;
        StateHasChanged();
    }

    private void SetScreen(string newScreen)
    {
        CurrentScreen = newScreen;
        StateHasChanged();
    }

    private void ToggleDarkMode(bool isDarkMode)
    {
        IsDarkMode = isDarkMode;
        StateHasChanged();
    }
}
